{{copyright}}
{{generator_warning}}
package {{package_name}}
{# blank line #}
import "fmt"
{# blank line #}
// ManagedEntityInfo provides ManagedEntity information
type ManagedEntityInfo struct {
	New func(params ...ParamData) (*ManagedEntity, error)
}
{# blank line #}
// ParamData can be passed to the 'New' function to dictate how the returned
// Managed Entity is created. You should supply either zero or one ParamData
// structure to 'New'.
//
// If No ParamData is passed, the returned Managed Entity can only be used for
// providing validation of other structures. This is commonly done in a packet
// encoder/decoder to assist in that process.
//
// If One ParamData is passed, the returned Managed Entity will be initialized
// with the given values/attributes and then validated. This is commonly done
// when you wish to create an ME for transmission, storage or removal from a
// persistent database, or some other similar purpose.
//
type ParamData struct {
	EntityID   uint16
	Attributes AttributeValueMap
}
{# blank line #}
// CreateME wraps a function that makes it a creator of a Managed Entity
type CreateME func(params ...ParamData) (*ManagedEntity, error)
{# blank line #}
var classToManagedEntityMap map[ClassID]CreateME
{# blank line #}
func init() {
	// Create mapping of 16-bit managed entity class IDs to ME-type
	classToManagedEntityMap = make(map[ClassID]CreateME, {{ classIDs|length }})
{% for me in classIDs %}
	classToManagedEntityMap[{{ me.cid }}] = New{{ me.name|camelcase }}
{%- endfor %}
}
{# blank line #}
func LoadManagedEntityDefinition(classID ClassID, params ...ParamData) (*ManagedEntity, error) {
	newFunc, ok := classToManagedEntityMap[classID]
	if ok {
		return newFunc(params...)
	}
	return nil, NewUnknownEntityError(fmt.Sprintf("managed entity %d (%#x) definition not found",
		uint16(classID), uint16(classID)))
}

func GetSupportedClassIDs() []ClassID {
	supported := make([]ClassID, 0, len(classToManagedEntityMap))
	for k := range classToManagedEntityMap {
		supported = append(supported, k)
	}
	return supported
}