{%-macro generate_msgTypes(msgTypes)-%}
    {%-for type in msgTypes%}
			omci.{{ type.name }},
    {%-endfor-%}
{%-endmacro-%}

{% macro attribute_field(size) %}
    {%- if size.octets == 1 -%}
omci.NewByteField
    {%- elif size.octets == 2 -%}
omci.NewUint16Field
    {%- elif size.octets == 4 -%}
omci.NewUint32Field
    {%- elif size.octets == 8 -%}
omci.NewUint64Field
    {%- else -%}
omci.NewUnknownField
    {%- endif -%}
{% endmacro %}


{%-macro access_fields(access)-%}
	{%-for access_type in access-%}
		{% if not loop.first %}|{% endif %}omci.{{access_type.name}}
	{%-endfor-%}
{%-endmacro-%}


{%- macro generate_attributes(attributes) -%}
	{%for attr in attributes%}
			{{ attribute_field(attr.size) }}("{{attr.name|camelcase}}", 0, {{access_fields(attr.access)}}),
	{%-endfor-%}
{%- endmacro -%}
