{#
Copyright (c) 2018 - present.  Boling Consulting Solutions (bcsw.net)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

GO specific Jinja2 macros
#}
{% set wrap_column = 96 %}

{%- macro class_description(text_list) -%}
{%- for text in text_list -%}
//	{{ text | wordwrap(wrap_column) | indent('	') | indent('//', False, True)}}
{%- if not loop.last %}
//
{% endif -%}
{%- endfor %}
{%- endmacro -%}

{%- macro class_relationships(text_list) -%}
    {%- if text_list|length %}
//
//	Relationships
{% for text in text_list -%}
//		{{ text | wordwrap(wrap_column) | indent('		') | indent('//', False, True)}}
{%- if not loop.last -%}
//
{%- endif -%}
{%- endfor -%}
{%- else %}
{%- endif -%}
{%- endmacro -%}

{# Output Attributes
    Key:    Atribute Name
    Value:  Text
#}
{%- macro class_attributes(text_dict) -%}
{%- if text_dict|length %}
//
//	Attributes
{%- for key, value in text_dict.items() %}
//		{{ key }}
//			{{ value | wordwrap(wrap_column) | indent('			') | indent('//', False, True)}}
{%- if not loop.last %}
//
{%- endif -%}
{% endfor %}
{%- else %}
{%- endif -%}
{%- endmacro -%}
