{%-macro generate_msgTypes(msgTypes)-%}
    {%-for type in msgTypes%}
			omci.{{ type.name }},
    {%-endfor-%}
{%-endmacro-%}

{%- macro attribute_field(size) -%}
    {%- if size.octets == 1 -%}
omci.NewByteField
    {%- elif size.octets == 2 -%}
omci.NewUint16Field
    {%- elif size.octets == 4 -%}
omci.NewUint32Field
    {%- elif size.octets == 8 -%}
omci.NewUint64Field
    {%- else -%}
omci.NewUnknownField
    {%- endif -%}
{%- endmacro -%}

{%- macro generate_attributes(attributes) -%}
    {%-for attr in attributes%}
			("{{attr.name|camelcase}}", 0, omci.Read|omci.Write,
			{{- attribute_field(attr.size) -}}
    {%-endfor-%}
{%- endmacro -%}
