{%-macro generate_msgTypes(msgTypes)-%}
    {%-for type in msgTypes|sort(attribute='name')%}
			{{ type.name }},
    {%-endfor-%}
{%-endmacro-%}

{% macro attribute_field(size) %}
    {%- if size.octets == 1 -%}
ByteField
    {%- elif size.octets == 2 -%}
Uint16Field
    {%- elif size.octets == 4 -%}
Uint32Field
    {%- elif size.octets == 8 -%}
Uint64Field
    {%- else -%}
MultiByteField
    {%- endif -%}
{% endmacro %}

{% macro attribute_zero_default(size) %}
    {%- if size.octets == 1 -%}
0
    {%- elif size.octets == 2 -%}
0
    {%- elif size.octets == 4 -%}
0
    {%- elif size.octets == 8 -%}
0
    {%- else -%}
{{size.octets}}, nil
    {%- endif -%}
{% endmacro %}

{% macro boolean_field(support) %}
    {%- if support -%}
true
    {%- else -%}
false
    {%- endif -%}
{%-endmacro-%}

{%-macro access_fields(access)-%}
	{%-for access_type in access|sort(attribute='name')-%}
		{% if not loop.first %}|{% endif %}{{access_type.name}}
	{%-endfor-%}
{%-endmacro-%}

{%- macro generate_attributes(classID) -%}
	{%for attr in classID.attributes%}
			{{loop.index-1}}: {% if loop.index-1 < 10 and classID.attributes|length > 10 %} {% endif %}{{attribute_field(attr.size)}}("{{attr.name|camelcase}}", {{attribute_zero_default(attr.size)}}, {{access_fields(attr.access)}}, {{boolean_field(attr.avc)}}, {{boolean_field(attr.counter)}}, {{boolean_field(attr.table_support)}}, {{boolean_field(attr.optional)}}),
	{%-endfor-%}
{%- endmacro -%}
