{% import 'macros.jinja' as Macros with context -%}
{{copyright}}
{{generator_warning}}
package {{package_name}}
{# blank line #}
import "fmt"

type MeBase struct {
	EntityClass uint16
}

func (msg *MeBase) String() string {
	// TODO: Lookup ClassID Name and add to output
	return fmt.Sprintf("ClassID: %v (%#x)", msg.EntityClass, msg.EntityClass)
}
