{% import 'macros.jinja' as Macros with context -%}
{{copyright}}
{{generator_warning}}
package {{package_name}}
{# blank line #}
/////////////////////////////////////////////////////////////////////////////
// CreateRequest
type CreateRequest struct {
	MsgBase
	Attributes []IAttribute // Set-by-create attributest
}

/////////////////////////////////////////////////////////////////////////////
// CreateResponse
type CreateResponse struct {
	MsgBase
	Result                 Results
	AttributeExecutionMask byte
}

/////////////////////////////////////////////////////////////////////////////
// DeleteRequest
type DeleteRequest struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
// DeleteResponse
type DeleteResponse struct {
	MsgBase
	Result Results
}

/////////////////////////////////////////////////////////////////////////////
// SetRequest
type SetRequest struct {
	MsgBase
	AttributeMask uint16
	Attributes    []IAttribute // Write attributes
}

/////////////////////////////////////////////////////////////////////////////
// SetResponse
type SetResponse struct {
	MsgBase
	Result                   Results
	UnsupportedAttributeMask uint16
	FailedAttributeMask      uint16 // TODO: Use this for no-space-left?
}

/////////////////////////////////////////////////////////////////////////////
// GetRequest
type GetRequest struct {
	MsgBase
	AttributeMask uint16
	Attributes    []IAttribute // Read attributes
}

/////////////////////////////////////////////////////////////////////////////
// GetResponse
type GetResponse struct {
	MsgBase
	Result                   Results
	AttributeMask            uint16
	Attributes               []IAttribute // Read attributes
	UnsupportedAttributeMask uint16
	FailedAttributeMask      uint16
}

/////////////////////////////////////////////////////////////////////////////
// GetAllAlarms
type GetAllAlarmsRequest struct {
	MsgBase
	AlarmRetrievalMode byte
}

/////////////////////////////////////////////////////////////////////////////
// GetAllAlarms
type GetAllAlarmsResponse struct {
	MsgBase
	NumberOfCommands uint16
}

/////////////////////////////////////////////////////////////////////////////
// GetAllAlarms
type GetAllAlarmsNextRequest struct {
	MsgBase

	CommandSequenceNumber uint16
}

/////////////////////////////////////////////////////////////////////////////
// GetAllAlarms
type GetAllAlarmsNextResponse struct {
	MsgBase
	AlarmBitMap [28]byte       // 224 bits
}

/////////////////////////////////////////////////////////////////////////////
// MibUploadRequest
type MibUploadRequest struct {
	MsgBase
	cachedME IManagedEntity // Cache any ME decoded from the request
}

/////////////////////////////////////////////////////////////////////////////
// MibUploadResponse
type MibUploadResponse struct {
	MsgBase
	NumberOfCommands uint16
}

/////////////////////////////////////////////////////////////////////////////
//
type MibUploadNextRequest struct {
	MsgBase
	CommandSequenceNumber uint16
}

/////////////////////////////////////////////////////////////////////////////
//
type MibUploadNextResponse struct {
	MsgBase
	cachedME IManagedEntity // Cache any ME decoded from the response
}

/////////////////////////////////////////////////////////////////////////////
// MibResetRequest
type MibResetRequest struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
// MibResetResponse
type MibResetResponse struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
// AlarmNotificationMsg
type AlarmNotificationMsg struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
// AlarmNotificationMsg
type AttributeValueChangeMsg struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
//
type TestRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type TestResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type StartSoftwareDownloadRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type StartSoftwareDownloadResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type DownloadSectionRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type DownloadSectionResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type EndSoftwareDownloadRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type EndSoftwareDownloadResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type ActivateSoftwareRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type ActivateSoftwareResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type CommitSoftwareRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type CommitSoftwareResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type SynchronizeTimeRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type SynchronizeTimeResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type RebootRequest struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
//
type RebootResponse struct {
	MsgBase
}

/////////////////////////////////////////////////////////////////////////////
//
type GetNextRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type GetNextResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type TestResultMsg struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type GetCurrentDataRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type GetCurrentDataResponse struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type SetTableRequest struct {
	MsgBase
	// TODO: implement
}

/////////////////////////////////////////////////////////////////////////////
//
type SetTableResponse struct {
	MsgBase
	// TODO: implement
}
