{% import 'macros.jinja' as Macros with context -%}
{{copyright}}
{{generator_warning}}
package {{package_name}}
{# blank line #}
// This file is used to track the version(s) of code used to parse the ITU
// document and create the generated code.

type VersionInfo struct {
	Name       string  // Type (pre-parser, parser, code-generator)
	Version    string  // Version of parser project
	CreateTime float32 // UTC linux time when ran
	ItuDocName string  // ITU G.988 document name
	SHA256     string  // ITU G.988 document SHA-256 hash
}

var Versions []VersionInfo

func init() {
	Versions = make([]VersionInfo, 0)
{% for version in versions %}
	Versions = append(Versions,
		VersionInfo{
			Name:       "{{ version.name }}",
			Version:    "{{ version.version }}",
			CreateTime: {{ version.create_time }},
			ItuDocName: "{{ version.itu_document }}",
			SHA256:     "{{ version.sha256 }}",
		})
{% endfor -%}
}
